@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: "Poppins", sans-serif;
	margin: 0px;
	padding: 0px;
}

body {
	padding: 0px;
	margin: 0px;
	background: #fff;
}

/* Palavras grifadas no texto */
strong {
	color: #052659;
	font-weight: bold;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
}

header {
	height: 110px;
	margin: 0px;
	padding: 25px 10px 0px;
	background-image: linear-gradient(to bottom, #456FAE, #052659);
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.400);
}

header h1 {
	color: white;
	font-size: 1.8em;
	font-family: "Poppins", sans-serif;
	padding: 0px;
	text-align: center;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
}

header p {
	color: white;
	font-size: 1em;
	padding: 0px;
	padding-top: 20px;
	text-align: center;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
}

nav {
	background-color: #052659;
	padding: 15px;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.400);
}

nav > a {
	color: white;
	padding: 5px 15px;
	text-decoration: none;
	font-weight: bold;
	border-radius: 5px;
	transition-duration: 1s;
}

nav > a:link, nav > a:visited {
	color: white;
}

nav > a:hover {
	background-color: #456FAE;
}